h1 {
  color: black;
}

header {
  background: #d2d5d5;
  height: 50px;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.span {
  text-align: right;
}

div {
  display: block;
}